/* Navigation Section */
.top-navigation {
	Background-color: #fff;
	/*margin-top: 2em;*/
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.content {
	margin: 0 auto;
	width: 970px;
	text-align: center;
}
.top-navigation > .content {
	height: 70px;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    -webkit-font-smoothing: antialiased;
    transition: color 0.3s ease;
    margin-right: 10px;
}
.top-navigation .links:hover {
	color: red;
	cursor: pointer;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
	padding: 0px 15px;
	height: 70px;
	margin-left: -175px;
}
.introduction{
	background-image: url("../img/first-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 bottom;
	min-height: 590px;
}
.introduction .content h1{
	font-size: 3.125rem;
	font-weight: 300;
	margin: 0;
	padding: 11.5rem;
	border: 0;
}
.introduction h3{
	box-sizing: border-box;
	margin: -10rem;
	font-size: 1rem;
}
.introduction .content{
	color: white;
	text-align: center;
}
.introduction .half{
	/*width: 49%;*/
	padding: 0 0.938rem;
	display: inline-block;
	vertical-align: bottom;
	font-size: 1.125rem;
	line-height: 1.2;
}
.button-learn {
	text-align: right;
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}
.button-watch {
	text-align: left;
	width: 9.688rem;
	font-size: 1.125rem;
}
.half .watch{
	text-align: left;
	padding: 1rem 0.938rem;
	font-weight: 500;

}
.buttons {
	display: inline-flex;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	padding-top: 13rem;
}
.cases {
	text-align: center;
}
.cases .content h2{
	text-align: center;
	font-size: 2rem;
	margin-top: 6rem;
}
.cases .devices {
    width: 20%;
    display: inline-block;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 4em;
}
.footer-img{
	max-height: 127px;
	padding: 40px;
}
.fa-twitter {
	color: #55acee;
}
.fa-facebook {
	color: #4c66a4;
}
.fa-instagram {
	color: #3f729b;
}
.icons{
	display: inline-flex;	
	padding: 50px;
	margin: 0 auto; 
	text-align: center;
}
.footer-icon{
	padding: 15px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border: solid 1px;
}
.buy {
	background-image: url("../img/buy-now.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	padding-top: 5.250rem;
	overflow: auto;
	padding-bottom: 20px;
}
.buy-info {
	font-weight: 400;
	font-size: 1.563rem;
	color: #f15a29;
	margin: 2.5rem 0px 1.875rem;
	padding-left: 260px;
}
.buy-p {
	padding-left: 260px;
	font-weight: 300;
	font-size: 1.15rem;
	line-height: 1.5;
	color: #4c5058;
	margin-bottom: 1.250rem;
	width: 15rem;
}
.button-buy {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	margin-left: 260px;
}




