/* Navigation Section */
.top-navigation {
	Background-color: #fff;
	margin-top: 2em;
}
.content {
	margin: 0 auto;
	width: 970px;
}
.top-navigation > .content {
	height: 70px;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    -webkit-font-smoothing: antialiased;
    transition: color 0.3s ease;
}
.top-navigation .links:hover {
	color: red;
	cursor: pointer;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
	padding: 0px 15px;
	height: 70px;
}
.introduction{
	background-image: url("../img/first-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 bottom;
	min-height: 590px;
}
.introduction .content h1{
	font-size: 3.125rem;
	font-weight: 300;
	margin: 0;
	padding: 11.5rem;
	border: 0;
}
.introduction h3{
	box-sizing: border-box;
	margin: -10rem;
	font-size: 1rem;
}
.introduction .content{
	margin-top: 15px;
	color: white;
	text-align: center;
}
.introduction .half{
	width: 49%;
	padding: 0 0.938rem;
	display: inline-block;
	vertical-align: bottom;
	font-size: 1.125rem;
	line-height: 1.2;
}
.half .learn {
	text-align: right;
}
.half .watch{
	text-align: left;
	padding: 1rem 0.938rem;
	font-weight: 500;
}
.buttons {
	display: inline-flex;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	padding-top: 13rem;
}



